{% extends "base.html.twig" %}

{% block content %}

{# Display search results #}
<div class="row clearfix">
    <div class="col-md-10 column">
        <div class="jumbotron">
            <h2>Search Results</h2>
            <strong>Criteria:</strong>
            {% if input.searchType == 'type' %}Type = {{ input.type }}{% endif %}
            {% if input.searchType == 'postcode' %}Postcode = {{ input.postcode }}{% endif %}

            {% if not posts is empty %}
                <hr />

                {# Display pagination #}
                {% if not pages is empty %}
                    <strong>Pages:</strong>
                {% endif %}
                {% for key, page in pages %}
                    {% if currentPage == key %}
                        {{ key }}
                    {% else %}
                        <a href="index.php?uri=search&#38;page={{ key }}">{{ key }}</a>
                    {% endif %}
                    {% if not loop.last %},{% endif %}
                {% endfor %}

                <div class="row push-bottom">
                    <table class="table">
                        <thead>
                        <tr>
                            <th id="name">Name</th>
                            <th id="sittertype">Services</th>
                            <th id="details">Details</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for post in posts %}
                            <tr class="tall">
                                <td headers="name" class="center">{{ post.business }}</td>
                                <td headers="sittertype" class="center">{{ post.type }}</td>
                                <td headers="details" class="center">
                                    <a href="index.php?uri=service-details&#38;id={{ post.id }}" title="View service details" class="btn btn-sm btn-info">Details</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="clearfix push-bottom">
                    <p class="red"><strong>No results found, please try different search filters.</strong></p>
                </div>
            {% endif %}

            {# Display pagination #}
            {% if not pages is empty %}
                <strong>Pages:</strong>
            {% endif %}
            {% for key, page in pages %}
                {% if currentPage == key %}
                    {{ key }}
                {% else %}
                    <a href="index.php?uri=search&#38;page={{ key }}">{{ key }}</a>
                {% endif %}
                {% if not loop.last %},{% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}